
<div style="text-align: center">
  <h1>{{title}}</h1>
</div>
<nav>
  <button class="btn btn-primary " routerLink="/departments">
    Departments
  </button>
  <button class="btn btn-primary me-md-4" routerLink="/employees-list">
    Employee-List
  </button>
  <button class="btn btn-primary " routerLink="/employees-details">
    Employee-details
  </button>
  <button class="btn btn-primary me-md-4" routerLink="/servers">
    Server
  </button>
  <button class="btn btn-primary me-md-4" routerLink="/data-binding">
    Data-Binding
  </button>
  <button class="btn btn-primary me-md-4" routerLink="/structural-directives">
    Structural-Directives
  </button>
  <button class="btn btn-primary me-md-4" routerLink="/component-interation">
    Component-intration
  </button>
  <button class="btn btn-primary me-md-4" routerLink="/pipes">
    Pipes
  </button>

  <button class="btn btn-primary me-md-4" routerLink="/game">
   Game
  </button>


  <button class="btn btn-primary me-md-4" routerLink="/tdf">
    TD-Formes
   </button>


  <button class="btn btn-primary me-md-4" routerLink="/reactive-forms">
    Reactive-Formes
   </button>
</nav>

<router-outlet></router-outlet>

<!-- <app-server></app-server> -->
